/**
 * @name WindowsXI
 * @author Leeprky#2063
 * @version 1.0.0
 * @description Windows XI Theme | Based Of Windows 11 UI 
 * @source https://github.com/leeprky/WindowsXI
 * @updateUrl https://github.com/leeprky/WindowsXI/blob/lode/source/support/betterdiscord/windowsXI.theme.css
 * @authorId 224524143482241035
 * @invite Ff3rqAYB89
 * @donate https://www.paypal.com/paypalme/leeparkinson22
 * @website https://leeprky.github.io/
*/

/* ██╗    ██╗██╗███╗   ██╗██████╗  ██████╗ ██╗    ██╗███████╗    ██╗  ██╗██╗
   ██║    ██║██║████╗  ██║██╔══██╗██╔═══██╗██║    ██║██╔════╝    ╚██╗██╔╝██║
   ██║ █╗ ██║██║██╔██╗ ██║██║  ██║██║   ██║██║ █╗ ██║███████╗     ╚███╔╝ ██║
   ██║███╗██║██║██║╚██╗██║██║  ██║██║   ██║██║███╗██║╚════██║     ██╔██╗ ██║
   ╚███╔███╔╝██║██║ ╚████║██████╔╝╚██████╔╝╚███╔███╔╝███████║    ██╔╝ ██╗██║
    ╚══╝╚══╝ ╚═╝╚═╝  ╚═══╝╚═════╝  ╚═════╝  ╚══╝╚══╝ ╚══════╝    ╚═╝  ╚═╝╚═╝

                                 １．０．０                                         
                              By leeprky#2063                                    */


/* █ █▀▄▀█ █▀█ █▀█ █▀█ ▀█▀ █▀
   █ █░▀░█ █▀▀ █▄█ █▀▄ ░█░ ▄█
           No Touch           */

@import "https://leeprky.github.io/themes/WindowsXI/master-import.css";

/*         ▄▀█ █▀█ █▀█ █▀▀ █▀█ ▄▀█ █▄░█ █▀▀ █▀▀
           █▀█ █▀▀ █▀▀ ██▄ █▀▄ █▀█ █░▀█ █▄▄ ██▄
              Delete `/*` At Start Of Import       */

/* Slook Scheme */
@import "";

/* █▀▀ █░█ █▀ ▀█▀ █▀█ █▀▄▀█ █ █▀ ▄▀█ ▀█▀ █ █▀█ █▄░█
   █▄▄ █▄█ ▄█ ░█░ █▄█ █░▀░█ █ ▄█ █▀█ ░█░ █ █▄█ █░▀█ */
:root {--outdated_windowsXI-017: none; --version: "1.0.0"; --build: "017"}

:root {

    /* Gradients */
    --default-gradient: 315deg, #40b0fab4 0%, #40b0fa9d 74%;
    --special-gradient: 315deg, #40B0FA 0%, #c987b8 74%;
    --red-gradient: 315deg, #AA3738 0%, #F04747 74%;
    --red-hsl: hsl(359, 63%, 53%);
    --yellow-gradient: 315deg, #c29b1b 0%, #ffa640 74%;
    --yellow-hsl: hsl(46, 72%, 52%);
    --green-gradient: 315deg, #507a73 0%, #4b7c72  74%;
    --grey-gradient: 315deg, #5f7d91 0%, #5f7d91 74%;
    --white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;
       
    /* Transitions */
    --font-normal: 500;
    --font-hover: bold;
    --font-size-hover: 15px;
    --hover-transition: 0.1s linear;
    --transform-normal: scale(1);
    --hover-transform: scale(1.15);
    --setting-hover-transform: scale(1.025);
    --button-hover-transform: scale(1.03);
 
    /* Greenple Colour*/
    --green-color: var(--alt-color2);
    --green-bar-on: #5c646480;
    --green-bar-bg: var(--green-color);
    --green-slider-on: var(--green-color);
    --green-slider-off: #404447fd;
    --green-slider-dot: #fff;
 }

 .theme-dark, .theme-light {
  --bg-avatar: url(https://i.imgur.com/g37HbBe.png);
  --roundness: 8px;
 }

/*  █▀▄ ▄▀█ █▀█ █▄▀
    █▄▀ █▀█ █▀▄ █░█ */
   
.theme-dark {

   --channeltextarea-background: #2e2e2e;
   --Watermark-Alignment: 50%;

   --alt-color: 53, 170, 250;
   --alt-color2: #35AAFA; 
   
   --playing-color: var(--alt-color2); 
   --spotify-color: var(--alt-color2);
   --streaming-color: rgb(127, 50, 179); 
   
    /* Header Colors */
    --header-primary: #FFFFFF; 
    --header-secondary: #c7c7c7; 
    --channels-headings: var(--alt-color2); 
  
    /* Text Colours */
    --text-normal: #F0F0F0; 
    --text-muted: #B3B3B3; 
    --text-link: var(--alt-color2); 
    --channels-default: #dddddd; 
    --interactive-normal: #F0F0F0; 
    --interactive-hover: #F0F0F0; 
    --interactive-hover-icons: var(--background-accent2); 
    --interactive-active: #fefeff; 
     --interactive-active-icons: var(--background-accent2); 
    --interactive-muted: #585858; 
   
    /* Background Colours */
    --background-primary: #202020; 
    --background-primary-alt: #202020; 
    --background-secondary: #191919; 
    --background-secondary-alt: #191919;
    --background-tertiary: #171717; 
    --background-accent: var(--alt-color2); 
    --background-floating: #161616; 
   
    /* Mentioned  Colours */
    --background-mentioned: #63636331 !important; 
    --background-mentioned-hover: #4d4d4d59; 
    --info-warning-foreground: #bdbdbdc5;
   
    --background-help-warning: rgba(250,166,26,0.1); 
    --background-help-info: rgba(0,176,244,0.1); 
   
    /* Scrollbar Colours */
    --background-modifier-hover: #323232; 
    --background-modifier-active: #323232; 
    --background-modifier-selected: #323232; 
    --background-modifier-accent: #4c46a309; 
   
   /* Box Shadow On Floating Elements Colours */
   --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15); 
   --elevation-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
   --elevation-medium: 0 4px 4px rgba(0,0,0,0.16); 
   --elevation-high: 0 8px 16px rgba(0,0,0,0.24); 
   
   --scrollbar-thin-thumb: #6c6c6c; 
   --scrollbar-thin-track: #17171700;
   --scrollbar-auto-thumb: #6c6c6c;
   --scrollbar-auto-track: #17171700; 
   --scrollbar-auto-scrollbar-color-thumb: #6c6c6c; 
   --scrollbar-auto-scrollbar-color-track: #171717da; 
       
   /* Other */
   --radio-group-dot-foreground: var(--alt-color); 
   }


   /* █░░ █ █▀▀ █░█ ▀█▀
      █▄▄ █ █▄█ █▀█ ░█░ */

 .theme-light {
 
   --channeltextarea-background: #f7f6ff;
   --Watermark-Alignment: 50%;
  
   --alt-color: 53, 170, 250;
   --alt-color2: #35AAFA; 
   
   --scrollbars: block; 
   --public-servers: block; 
   --playing-color: var(--alt-color2); 
   --spotify-color: var(--alt-color2); 
   --streaming-color: rgb(127, 50, 179); 
   
    /* Header Colors */
    --header-primary: #1A1A1A; 
    --header-secondary: #5E5D5F; 
    --channels-headings: var(--alt-color2); 
  
    /* Text Colours */
    --text-normal: #585858; 
    --text-muted: #9e9d9d; 
    --text-link: var(--alt-color2); 
    --channels-default: #585858; 
    --interactive-normal: #585858; 
    --interactive-hover: #424242; 
    --interactive-hover-icons: var(--background-accent2); 
    --interactive-active: #333333; 
     --interactive-active-icons: var(--background-accent2); 
    --interactive-muted: #989898; 
   
    /* Background Colours */
  --background-primary: #F3F3F3 !important; 
  --background-primary-alt: #F3F3F3 !important; 
  --background-secondary: #eeeeee !important; 
  --background-secondary-alt: #eeeeee !important; 
  --background-tertiary: #f3f3f3 !important; 
  --background-accent: var(--alt-color2) !important; 
  --background-floating: #ffffff !important; 
   
    /* Mentioned  Colours */
    --background-mentioned: #fcfcfc !important; 
    --background-mentioned-hover: #ebebeb; 
    --info-warning-foreground: #1f1e1ec5;
   
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1); 
   
    /* Scrollbar Colours */
    --background-modifier-hover: #f5f5f5;
    --background-modifier-active: #F6F6F6; 
    --background-modifier-selected: #ffffff; 
    --background-modifier-accent: #ffffff02; 
   
   /* Box Shadow On Floating Elements Colours */
   --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15); 
   --elevation-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
   --elevation-medium: 0 4px 4px rgba(0,0,0,0.16); 
   --elevation-high: 0 8px 16px rgba(0,0,0,0.24); 
   
   --scrollbar-thin-thumb: #8A8A8A; 
   --scrollbar-thin-track: #f7f7f700;
   --scrollbar-auto-thumb: #8A8A8A;
   --scrollbar-auto-track: #ffffff36; 
   --scrollbar-auto-scrollbar-color-thumb: #6c6c6c; 
   --scrollbar-auto-scrollbar-color-track: #171717da; 
       
   /* Other */
   --radio-group-dot-foreground: var(--alt-color2); /* Ignore */
   }
